@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
  /* shared styles */
  header{
    max-width: 1160px;
    margin: auto;
  }
  main > section{
    max-width: 1160px;
    margin: auto;
  }
  .display-flex{
    display: flex;
}
.orange{
  color: orange;
}
.skyblue{
  color: skyblue;
}
.text-light{
  color: #05D4DF;
}
.text-light2{
  color: #5D58EF;
}
.btn2{
  font-size: 1.25rem;
  font-weight: 700px;
  color: #FFFFFF;
  background-color: black;
  padding: 10px 15px;
  border-radius: 12px;
}
.color{
  color: #64C8FF;
}
.color2{
  color: #F0AA00;
}
.color3{
  color: #8700FF;
}
.btn-primary{
  font-weight: 500px;
  padding: 10px 15px;
  border-radius: 48px;
  border: none;
  transform: translateY(-20px)
  
}
.item-color{
  background-color: #3CD8E8;
}
.item-color2{
  background-color: #95B226;
}
.item-color3{
  background-color: #5D58F0;
}
.bar-icon{
  width: 200px;
  height: 50px;
  display: none;
}


/* nav related styles */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{ 
  font-weight: 700px;
  font-size: 2rem;
}
.nav-right{
  align-items: center;
  gap: 20px;
}
.nav-item{
  list-style: none;
  margin-right: 50px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500px;
  font-size: 1.25rem;
}
.btn{
  font-size: 1.25rem;
  font-weight: 600px;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border-radius: 12px;
  border: none;
}
  /* banner related styles */
.banner{
  display: flex;
  gap: 50px;
}
.banner-container{
  margin-top: 100px;
}
.banner-title{
  font-size: 3.5rem;
  font-weight: 700px;
}
.banner-description{
  font-size: 1.25rem;
  color: black;
}
.comand{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 60px 0px 100px 0px;
  
}
.comand-title{  
  font-size: 1.5rem;
  background-color: orange;
  color: white;
  border-radius: 50%;
  padding: 12px 20px;
}
/* standard section styles */
.standard-title{
  font-size: 2.8rem;
  font-weight: 700px;
  color: #000000;
  text-align: center;
  margin: 60px 0 80px 0;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;  
}
.card{
  box-shadow: 0 0 28px 1px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 30px;
  text-align: center;  
}
.card-title{
  font-size: 1.5rem;
  font-weight: 700px;
  color: #202020;
}
.card-description{
  font-size: 1rem;
  font-weight: 500px;
  color: #808080;
}
.card-sub-title{
  font-size: 1rem;
  font-weight: 700px;
}
/* our stories section styles */
.our-stories{
  max-width: 1440px;
  max-height: 1218px;
  margin: auto;
  background-color: #FFF8EB;
  border: 1px solid #FFF8EB;
}
.our{
  max-width: 1160px;
  margin: auto;
}
.our-title{
  font-size: 2.8rem;
  font-weight: 700px;
  color: #000000;
  text-align: center;
}
.our-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 630px;
}
.content{ 
  width: 540px;
  height: 620px;
  background-color: #FFFFFF;
  border-radius: 12px;
   
}
.content-title{
  font-size: 1.5rem;
  font-weight: 700px;
  color: #000000;
}
.content-description{
  font-weight: 500px;
  color: #666666;
  margin-top: 60px;
}
.decoretion{  
 padding: 0 30px;
}
.content2{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 20px;
 height: 400px;
}
.content-item{
  background-color: #FFFFFF;
  height: 300px;
  border-radius: 12px;
}
.item-derection{
  padding: 0px 15px;
  
}
.content-item-title{
  font-weight: 700px;
  color: #000000;
}
.btn-all{
  text-align: center;
  margin: 80px 0 60px 0;
}
/* footer styles */
footer{
  max-width: 1440px;
  margin: 0 auto;
  background-color: #01ACFD;
  border: 1px solid #01ACFD;
}
.kids{
  max-width: 1160px;
  margin: 0 auto;
}
.kids-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin: 130px 0px;
}
.kids-item{
  align-items: center;
}
.kids-title{
  font-size: 2.6rem;
  font-weight: 700px;
  color: #FFFFFF;
}
.kids-description{
  font-size: 1.25rem;
  color: #FFFFFF;
}
.link-title{
  font-size: 1.5rem;
  font-weight: 700px;
  color: #FFFFFF;
}
.link{
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500px;
  color: #FFFFFF;
}
.link-item{
  flex-direction: column;
}
.link-item > a{
  margin-bottom: 20px;
}
.icon-title{
  font-size: 1.6rem;
  font-weight: 700px;
  color: #FFFFFF;
}

  /* media query */
@media screen and (max-width:576px){
  .brand, .nav-links, .btn, .content{
    display: none;
  }
  .card-container, .kids-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .banner{
    flex-direction: column-reverse;
  }
  .card{
    text-align: center;
  }
  .content2 > .content-item > img{
    width: 100%;
  }
  .content2{
    margin-left: 20px;
  }
  .kids-content, .links, .icon{
    align-items: center;
    justify-items: center;
  }
  .kids-description{
    margin-left: 20px;
  }
  .bar-icon{
    display: block;
    margin-left:250px ;
  }
}